<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">

        <!-- Bootstrap Core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/animate.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/style.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

        <!-- Template js -->
        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/jquery.appear.js"></script>
        <script src="/js/contact_me.js"></script>
        <script src="/js/jqBootstrapValidation.js"></script>
        <script src="/js/modernizr.custom.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            window.addEventListener('load', function () {

            });
        </script>
        <!-- Start Main Body Section -->
        <div class="mainbody-section text-center">
            <video width="80%" controls="controls" autoplay>
                <source type="video/mp4" src="videos/DELIKIA.mp4" />
            </video>
            <div id="browse_app">
                <a class="btn btn-large btn-info" href="menu">Browse</a>
            </div>
        </div>

    </body>
</html>
